In [65]:
# import the library
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [66]:
# connecting to the page
page = requests.get('https://www.kompas.com/tren/read/2022/11/30/083000165/daftar-lengkap-ump-2023-di-34-provinsi-seluruh-indonesia?page=all')
soup = BeautifulSoup(page.content, 'html.parser')

In [67]:
# checking the respone status
# check, means behind numbers: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status
print(page)

<Response [200]>

A. SCRAPE PROVINCE NAME

In [68]:
lists = soup.find_all("p")

In [69]:
provinces = []

for list in lists:
    province = 'none text'
    try :
        province = list.find("strong").text
    except :
        pass
    provinces.append(province)

In [70]:
# make province dataframe
df_provinces = pd.DataFrame(provinces).drop_duplicates()
df_provinces.columns = ['provinsi']

In [71]:
# filter row with provinsi name only (take row that contain '.' in the end of number list)
df_provinces["number"] = df_provinces['provinsi'].apply(lambda x: x.split(' ')[0].endswith('.'))
df_provinces = df_provinces[df_provinces["number"] == True]

# cleaning the provinsi name
df_provinces['provinsi2'] = df_provinces['provinsi'].apply(lambda x: x.replace(' (NAD)','').split('. ')[1])

B. SCRAPE UMP 2022

In [72]:
lists2 = soup.find_all("ul")

In [73]:
l_ump2022 = []
for list2 in lists2:
    ump2022 = list2.find("li").text
    l_ump2022.append(ump2022)

In [74]:
df_ump2022 = pd.DataFrame(l_ump2022)
df_ump2022.columns = ['ump_2022']

In [75]:
# filter row with ump 2022 only (string in ump column contain 'UMP 2022')
df_ump2022["remark_ump"] = df_ump2022['ump_2022'].str.contains('UMP 2022')
df_ump2022 = df_ump2022[df_ump2022["remark_ump"] == True]

In [76]:
df_ump2022["ump_2022_adj"] = df_ump2022["ump_2022"].apply(lambda x: x.split("Rp")[1].strip().replace(".",""))
df_ump2022["ump_2022_adj"] = df_ump2022["ump_2022_adj"].astype(int)

C. SCRAPE UMP 2023

In [77]:
lists3 = soup.find_all("ul")

In [78]:
l_ump2023 = []
for list3 in lists3:
    ump2023 = list3.find_all("li")[-1].get_text()
    l_ump2023.append(ump2023)

In [79]:
df_ump2023 = pd.DataFrame(l_ump2023)
df_ump2023.columns = ['ump_2023']

In [80]:
# filter row with ump 2023 only (string in ump column contain 'UMP 2023')
df_ump2023["remark_ump"] = df_ump2023['ump_2023'].str.contains('UMP 2023: Rp')
df_ump2023 = df_ump2023[df_ump2023["remark_ump"] == True]

df_ump2023['ump_2023_adj'] = df_ump2023['ump_2023'].apply(lambda x: x.split("(")[0].strip().split(" ")[-1].replace("Rp","").split(",")[0].replace(".",""))
df_ump2023['ump_2023_adj'] = df_ump2023['ump_2023_adj'].astype(int)

D. COMPILE DATA FRAME

In [81]:
prv_series = df_provinces['provinsi2'].squeeze().reset_index().drop(columns="index")
ump2022_series = df_ump2022['ump_2022_adj'].squeeze().reset_index().drop(columns="index")
ump2023_series = df_ump2023['ump_2023_adj'].squeeze().reset_index().drop(columns="index")

df_ump_indonesia = pd.DataFrame({"provinsi": prv_series.iloc[:,-1], 
                                    "ump_2022": ump2022_series.iloc[:,-1],
                                    "ump_2023": ump2023_series.iloc[:,-1]})

df_ump_indonesia["rp_kenaikan"] = df_ump_indonesia["ump_2023"]-df_ump_indonesia["ump_2022"]
df_ump_indonesia["%_kenaikan"] = df_ump_indonesia["ump_2023"]/df_ump_indonesia["ump_2022"]-1
df_ump_indonesia

                    provinsi  ump_2022  ump_2023  rp_kenaikan  %_kenaikan
0   Nanggroe Aceh Darussalam   3166460   3413666       247206    0.078070
1             Sumatera Utara   2522609   2710493       187884    0.074480
2             Sumatera Barat   2512539   2742476       229937    0.091516
3                       Riau   2938564   3191662       253098    0.086130
4                      Jambi   2649034   2943000       293966    0.110971
5           Sumatera Selatan   3144446   3404177       259731    0.082600
6                   Bengkulu   2238094   2418280       180186    0.080509
7                    Lampung   2440486   2633284       192798    0.079000
8            Bangka Belitung   3264884   3498479       233595    0.071548
9             Kepulauan Riau   3050172   3279194       229022    0.075085
10               DKI Jakarta   4641854   4901798       259944    0.056000
11                    Banten   2501203   2661280       160077    0.064000
12                Jawa Barat   1841487   1986670       145183    0.078840
13               Jawa Tengah   1812935   1958169       145234    0.080110
14             DI Yogyakarta   1840915   1981782       140867    0.076520
15                Jawa Timur   1891567   2040244       148677    0.078600
16                      Bali   2516971   2713672       196701    0.078150
17       Nusa Tenggara Barat   2207212   2371407       164195    0.074390
18       Nusa Tenggara Timur   1975000   2123994       148994    0.075440
19          Kalimantan Barat   2434328   2608601       174273    0.071590
20         Kalimantan Tengah   2922516   3181013       258497    0.088450
21        Kalimantan Selatan   2906473   3149977       243504    0.083780
22          Kalimantan Timur   3014497   3201396       186899    0.062000
23          Kalimantan Utara   3016738   3251702       234964    0.077887
24            Sulawesi Utara   3310723   3485000       174277    0.052640
25           Sulawesi Tengah   2390739   2599546       208807    0.087340
26          Sulawesi Selatan   3165876   3385145       219269    0.069260
27         Sulawesi Tenggara   2576016   2758948       182932    0.071014
28                 Gorontalo   2800580   2989350       188770    0.067404
29            Sulawesi Barat   2678863   2871794       192931    0.072020
30                    Maluku   2619312   2812827       193515    0.073880
31              Maluku Utara   2862231   2976720       114489    0.040000
32               Papua Barat   3200000   3282000        82000    0.025625
33                     Papua   3561932   3864696       302764    0.085000

E. SAVE DATAFRAME TO CSV

In [82]:
df_ump_indonesia.to_csv('Data Kenaikan UMP Indoensia 2023.csv', index=False)